{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="center-block">
	<form method="post" action="." id="form-login">
  	{% csrf_token %} 
  	{{ form.as_p }} 
 
	  <input type="submit" value="{% trans 'Log in' %}" />
	  <input type="hidden" name="next" value="/" />
	</form> 
 

	<p class="help-link">{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}!</a></p>
	<p class="help-link">{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}!</a></p>
</div>
{% endblock %}
