.center-block {
	max-width: 600px;
 	width: 90%;
 	margin: 0 auto;
	

}

#form-login { 
	input[type = "submit"] {
		 	background: $red; 
			padding: 11px 20px 8px; 
			margin: 12px 0 25px;
			position: relative;       
			cursor: pointer;
			text-transform: uppercase;
			color: white;
			border: none;
			font: 700 16px $textFont;
	}
	a {
		color: $red;
	}
}

#footer hr {
	display: none;
}