.center-block {
	max-width: 600px;
 	width: 90%;
 	margin: 0 auto;
	@extend .flex;
	@include alignBoth(center, center);
	@include flexDir(column);
	height: calc(100vh - 45px);	
	font-family: $textFont, sans-serif;
	.help-link {
		margin: 5px auto;
		a {
			color: $red;
			&:hover {
				color: #9c1f1f; 
			}
		}
	}
}

.notifications {
	font: 17px $textFont, sans-serif;
	color: $red;
}

#form-reset-password, #form-login, #form-register { 
	width: 100%;
	input[type = "submit"] {
	 	background: $red; 
		padding: 11px 20px 8px; 
		margin: 12px 0 25px;
		position: relative;       
		cursor: pointer;
		text-transform: uppercase;
		color: white;
		border: none;
		font: 700 16px $textFont;
		float: right;
		margin-right: 5%;
		@include trans();
		&:hover {
			background: #9c1f1f;
		}
	}
	.helptext {
		display: none;
	}
	ul {
		position: fixed;
		right: 10px;
		top: 50%;
		max-width: 350px;
		padding: 10px;
		display: none;
		background: green;
	}
	ul.errorlist {
		display: block;
		position: static;
		background: $red;
		list-style: none;
		margin-left: 5%; 
	}
	input[type = "text"], input[type = "password"], input[type = "email"] {
		box-shadow: none;
		outline: none;
		border: none;
		border-bottom: 1px solid #549695;
		display: block;
		width: 90%; 
		font-family: $lightTextFont, sans-serif;
		margin: 10px auto;
		&:focus {
			border-color: #9c1f1f;
		}
	}

	a {
		color: $red;
		&:hover {
			color: #9c1f1f; 
		}
	}

	.bottom-block {
		@extend .flex; 
		@include alignBoth(flex-end, center);
		input[type = "submit"] {
			margin: 0 5% 0 20px;
		} 
	}

	label {
		width: 90%;
		display: block;
		margin: 0 auto;
	} 
}
 