$bubbles: rgba(84, 150, 149, 0.8);

#dialogs-container {
	margin: 0;
	padding-top: 15px;
	height: 100vh;
	@include tablet() {
		& {
			overflow: hidden;
		}
	}
	 .columns {
		@extend .flex;
		@include material--shadow-right;
	 }
	 .conversation { 
	 	width: calc(100% - 300px); 
	 	.name {
			font: 22px $textFont, sans-serif;
			padding: 12px 15px 13px;
			background: #333;
			color: white;
			white-space: nowrap;
			position: relative;
			z-index: 1;
			@extend .flex;
			@include alignBoth(space-between, center);
			@include material--shadow-bottom;
			input{
				background: #333;
			    border: none;
			    color: white;
			    border-bottom: 1px solid white;
			    width: 90%;
			}
			.settings { 
				@extend .flex;
				@include alignItems(center);
				.log-out { 
					cursor: pointer;
					color: white;
					font: 14px $lightTextFont, sans-serif; 

					@extend .flex;
					@include alignItems(center);
					span {
						display: inline-block;
						width: 30px;
						height: 30px;
						background: url(../images/logout.svg);
						@include bg();
						cursor: pointer; 
						margin-left: 15px;
					}
				}

				.people {
					margin-left: 15px;
					display: none; 
					width: 30px;
					height: 30px;
					background: url(../images/users-group.svg);
					@include bg();
					cursor: pointer; 
					@include tablet() {
						& {
							display: inline-block;
						}
					}
				}
			}			
	 	} 
	 	.messages {  
	 		height: calc(100vh - 280px); 
	 		padding-bottom: 25px;
	 		overflow-y: scroll;
	 		background: white;
 			border-right: 1px solid #F2EBF2;

	 		.single-message {
	 			@extend .flex;
	 			margin: 10px 20px 10px 15px;  
	 			.message {
	 				width: auto;
		 			display: inline-block;
		 			max-width: 60%;
		 			border-radius: 4px;
		 			background: $bubbles;
		 			padding: 10px 15px;
		 			position: relative; 
		 			color: white;
		 			border-bottom: 1px solid #EEE;
	 			}
	 			&.own {
					@include justCont(flex-end);
					.message:before {
						 content: '';
						 border: 8px solid transparent;
						 border-left-color: $bubbles;
						 position: absolute;
						 right: -16px;
						 top: 8px;
					}
	 			}

	 			&.not-own {
	 				@include flexDir(column);
	 				.name-author {
	 					color: silver;
	 					font: 12px $boldTextFont, sans-serif;
	 					margin-bottom: 5px;
	 				}
	 				.message {
	 					&:before {
						  content: '';
						  border: 8px solid transparent;
						  border-right-color: $bubbles;
						  position: absolute;
						  left: -16px;
						  top: 8px;
						}
					}
	 			}
	 			&.own.screaming {
	 				.message{
		 				font-size: 36px;
		 				background-color: #e84949;
		 				&:before {
						  content: '';
							border: 8px solid transparent;
							border-left-color: #e84949;
							position: absolute;
							right: -16px;
							top: 21px;
						}
		 			}
	 			}
	 			&.not-own.screaming {
	 				.message{
		 				font-size: 36px;
		 				background-color: #e84949;
		 				&:before {
						  content: '';
						  border: 8px solid transparent;
						  border-right-color: #e84949;
						  position: absolute;
						  left: -16px;
						  top: 21px;
						}
		 			}
	 			}
	 		}
	 		.placeholder-message.time {
	 			font: 12px $lightTextFont, sans-serif;
	 			color: silver;
	 			text-align: center;
	 			padding: 10px 0;
	 		}
	 	}
	 	.input-block {
	 		background: white;
	 		position: relative;
	 		padding: 25px 15px 10px;
	 		@include material--shadow-top;
	 		.placeholder-message {  	 
	 			font: 16px $lightTextFont, sans-serif;
	 			color: silver;
	 			top: 10px;
	 			position: absolute;
	 		}
	 		#textarea-message {
	 			width: 100%;
	 			height: 70px;
	 			resize: none;
	 			border: none;
	 			border-bottom: 1px solid $bubbles;
	 			box-shadow: none;
	 			outline: none;
	 			margin: 10px 0 0;
	 			font: 14px $lightTextFont, sans-serif;
	 			&:focus {
	 				border-color: #148e8e;
	 			}
	 		}
	 		.row-input:nth-child(2) {
	 			@extend .flex;
	 			@include justCont(flex-end);
	 		}
	 		.send-message {
				cursor: pointer;
				border: none;
				outline: none;
				box-shadow: none;
				@extend .button;
				background: $red;
				margin: 5px 0 15px;
				font: 13px $lightTextFont, sans-serif;
				float: none;
	 		}
	 	}

	 	@include tablet() {
		 	& {
		 		width: 100%;
		 		.name {
		 			font-size: 18px;
		 		}
		 	}
		 }
	 }
	 .list-of-all-conv, .all-active-users {
	 	width: 300px;  
	 	height: calc(100vh - 57px); 
	 	background: white;

	 	.person {
	 		width: 100%;  
	 		@extend .flex;
	 		@include alignItems(center);
	 		padding: 10px 15px; 
	 		cursor: pointer;

	 		@include trans();  
	 		.avatar {
	 			width: 35px; 
	 			height: 35px;
	 			border-radius: 50%;
	 			overflow: hidden;
	 			margin-right: 20px;
	 			img {
	 				max-width: 100%;
	 				width: 100%;
	 				height: 100%;
	 				-webkit-object-fit: cover;
	 				object-fit: cover;
	 			}
	 		}
	 		&:hover {
	 			background: #555;
	 			color: white;
	 		}
	 		&.active {
	 			background: #333;
	 			color: white;
	 		}
	 	}
	 	.search {
	 		#search-form {  
	 			position: relative;
	 			margin: 10px 0;
	 			input {
	 				border: none;
	 				border-bottom: 1px solid $red;
	 				background: transparent;
	 				width: 90%;
	 				margin-left: 5%;
	 				outline: none;
	 				color: grey;
					font: 14px $lightTextFont, sans-serif;	 				
	 				&::-webkit-input-placeholder {
						color: silver;
						font: 15px $textFont, sans-serif;
	 				}
	 			}
	 			button {
	 				position: absolute;
	 				right: 15px;
	 				top: 48%;
	 				border: none;
	 				cursor: pointer;
	 				width: 25px;
	 				height: 25px;
	 				background: url(../images/create-group-button.svg);
	 				@include bg();
	 				outline: none;
	 				-webkit-transform: translateY(-50%);
	 				transform: translateY(-50%);
	 			}
		 	}
	 	}
	 }
	 .all-active-users  {

	 	h3 {
	 		padding: 12px 15px 13px;
	 		background: $red;
	 		color: white; 
	 		margin: 0;
	 		font: 22px $textFont, sans-serif;
	 		@extend .flex;
	 		@include alignBoth(space-between, center);
	 		@include material--shadow-bottom;
	 		.people {
				display: inline-block;
				width: 30px;
				height: 30px;
				background: url(../images/users-group.svg);
				@include bg();
				cursor: pointer; 
			}			

			 @include tablet() {
			 	& { 
			 		font-size: 18px;
			 		.people {
			 			/*display: none;*/
			 		}
			 	}
			 }
	 	}
	 	 @include tablet() {
		 	& {
		 		position: absolute;
		 		right: 0; 
		 		-webkit-transform: translateX(100%);
		 		transform: translateX(100%);
		 		@include trans();
		 		z-index: 1000;
		 		&.active {
		 			-webkit-transform: translateX(0);
					transform: translateX(0);
		 		}
		 	}
		 }
	 }
	 position: relative;
}