@font-face{
    font-family: 'acaslonpro-bolditalic';
    src: url("../fonts/acaslonpro-bolditalic.otf");
}

@font-face{
    font-family: 'Montserrat-Regular.ttf';
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face{
    font-family: 'KabelCTT Book';
    src: url("../fonts/KabelCTT Book.ttf");
}
 