@import "mixins.scss";
@import "header.scss";
@import "auth.scss";  

.wrapper { 
	background: #F1F1F1;
	font-family: $textFont, sans-serif;  
	.confines-width {	 	
		.content-page {
			width: 100%;  
			@import "dialogs.scss"; 	
		} 
	}   
}

 