{% extends "layout.html" %}

{% load staticfiles %}

{% block content %}

		<div class="confines-width">
			<main class="content-page">
				 <section id="dialogs-container">
				 	<div class="columns">

				 		<div class="conversation" data-name="{{ user.get_username }}">
				 			<div class="name"> {% if request.path == '/' %}Общая комната{% else %} {{ user.username }}@{{ room.title }} {% endif %}
				 				<span class="settings">
				 					<a href="{% url 'auth_logout' %}?next=/" class="log-out">Выйти<span></span></a>
				 					<span class="people"></span>
			 					</span>
		 					</div>

				 			<div class="messages scrollbar-macosx">
				 							 				
				 			</div>
				 			<div class="input-block">			 			

				 					<span class="input">
										<textarea id="textarea-message" placeholder="Введите сообщение" class="input__field"></textarea>
									</span>


									<div class="row-input">
				 						<button class="send-message">Отправить</button>
				 					</div>

				 			</div>
				 		</div>
					 	<div class="all-active-users scrollbar-macosx">
					 		<h3>Кто здесь?<span class="people"></span></h3>
                            {% for usr in users %}
                                <div class="person">
                                    <div class="avatar">
                                        <img src="{% static 'images/avatar.jpg' %}" alt="avatar-image">
                                    </div>
				 				<div class="nickname">{{ usr.username }}</div>
				 			</div>
                            {% endfor %}
					 	</div>
				 	</div>
				 </section>
			</main> 
		</div> 

{% endblock %}