{% extends "layout.html" %}

{% load staticfiles %}

{% block content %}

		<div class="confines-width">
			<main class="content-page">
				 <section id="dialogs-container">
				 	<div class="columns">
				 		<div class="conversation">
				 			<div class="name">Покатушки 
				 				<span class="settings">
				 					<span class="log-out">Log out</span>
				 					<span class="people"></span>
			 					</span>
		 					</div>
				 			<div class="messages scrollbar-macosx">
				 				<div class="single-message own"> 
				 					<div class="message">Hello!</div>
			 					</div>
			 					<div class="single-message not-own"> 
			 						<div class="name-author">Yaaaa</div>	 
				 					<div class="message">Hello, John!</div>
			 					</div>
			 					<div class="single-message own">
				 					<div class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolores animi praesentium est dolor culpa voluptate fugiat rerum ut laborum sint temporibus eligendi fuga dolorem saepe neque, odit dicta debitis.</div>
			 					</div>
			 					<div class="placeholder-message time">08/04/2017</div>
			 					<div class="single-message not-own">
			 						<div class="name-author">Yaaaa</div>
				 					<div class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
			 					</div>
			 					<div class="single-message not-own">
			 						<div class="name-author">Po</div>	
				 					<div class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
			 					</div>
			 					<div class="single-message not-own">
			 						<div class="name-author">Guli</div>
				 					<div class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
			 					</div>				 				
				 			</div>
				 			<div class="input-block">			 			
				 				<div class="placeholder-message">Что-то пишет..</div>
				 				<form action="">   
				 					<div class="row-input">  		 
										<textarea id="textarea-message" placeholder="Введите сообщение" class="input__field"></textarea>
									</div>
									<div class="row-input">
				 						<button class="send-message">Отправить</button>
				 					</div>
				 				</form>
				 			</div>
				 		</div>
				 		<div class="list-of-all-conv scrollbar-macosx">
				 			<div class="search">
				 				<form action="" id="search-form"> 
									<input class="input__field" type="text" placeholder="Поиск" id="search-conversation" />   
									<button class="add-button"></button> 
				 				</form>
				 			</div>
				 			<div class="person">
				 				<div class="avatar">
				 					<img src="{% static 'images/avatar.jpg' %}" alt="avatar-image">
				 				</div>
				 				<div class="nickname">Беседа1</div>
				 			</div> 
				 			<div class="person">
				 				<div class="avatar">
				 					<img src="{% static 'images/avatar.jpg' %}" alt="avatar-image">
				 				</div>
				 				<div class="nickname">Беседа1</div>
				 			</div> 
				 			<div class="person active">
				 				<div class="avatar">
				 					<img src="{% static 'images/avatar.jpg' %}" alt="avatar-image">
				 				</div>
				 				<div class="nickname">Беседа2</div>
				 			</div>
				 		</div>
				 	</div>
				 	<div class="all-active-users scrollbar-macosx">
				 		<h3>Online users</h3>
				 		<div class="person">
			 				<div class="avatar">
			 					<img src="{% static 'images/avatar.jpg' %}" alt="avatar-image">
			 				</div>
			 				<div class="nickname">QQQ</div>
			 			</div> 
			 			<div class="person">
			 				<div class="avatar">
			 					<img src="{% static 'images/avatar.jpg' %}" alt="avatar-image">
			 				</div>
			 				<div class="nickname">QQQ</div>
			 			</div> 
				 	</div>
				 </section>
			</main> 
		</div> 

{% endblock %}