<!DOCTYPE html> 
<head>
	<meta charset="UTF-8">
	<title>Dialog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/normalize.css">  
	<link rel="stylesheet" href="css/lib/jquery.scrollbar.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body>
	<div class="wrapper">
		<header id="header">
			
			{% block header %}{% endblock %}
		</header>

		{% block content %}{% end block %}

		<footer id="footer"></footer>
	</div>  
	<script src="js/lib/jquery-3.2.0.min.js"></script> 
	<script src="js/lib/jquery.scrollbar.min.js"></script> 
	<script src="js/ui.js"></script>
</body>
</html>